body {
  margin: 0;
  padding: 10px;
  background-color: rgb(8, 61, 77);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-container {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.input-section {
  background: rgb(15, 82, 102);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0 5px 4px rgb(8, 53, 66);
}
.input-section input {
  border-radius: 5px;
  border: 1px solid rgb(23, 99, 122);
  width: 100%;
  margin-top: 10px;
  background: rgb(18, 90, 112);
  color: rgb(110, 162, 179);
  outline: none;
}
input::placeholder {
  color: rgb(12, 65, 82);
}

ul {
  text-align: left;
  margin: 0;
  padding: 0;
  
}

ul li {
  display: flex;
  list-style: none;
  background: rgb(15, 82, 102);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: rgb(110, 162, 179);
  box-shadow: 0 5px 4px rgb(8, 53, 66);
  word-break: break-word;
  text-align: justify;
  align-items: center;
}
ul li i {
  text-align: right;
  flex: 1;
  
  margin-left: 10px;
  cursor:pointer;

}


h4 {
  color: rgb(26, 100, 122);
  font-weight: bolder;
}

